<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/animation.css' %}" type="text/css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            allow_html_in_named_anchor: true
        });
    </script>

    <title>{% block title %}{% endblock  %}</title>
</head>

<body>
    <div id="particles-js" class="position-fixed"></div>

    <div class="container-fluid position-fixed" style="height: 100%; display: flex;">
        <div class="content-wrapper col-10 middle">
            <div class="row">
                <div class="col-4 personal-info">
                    <div class="row">
                        <img src="{% static 'media/image/profile picture.png' %}" alt="Profile Picture"
                            class="profile-picture">
                    </div>

                    <div class="row">
                        <h5 class="name my-3">NGUYỄN QUANG NHỰT QUỲNH</h5>
                        <h5 class="mb-3" style="margin: auto;"><i>Freelancer</i></h5>
                    </div>

                    <div class="row row-info">
                        <img class="icon" src="{% static 'media/icon/birthday-cake-solid.svg' %}">
                        <h6 class="info">22/12/2000</h6>
                    </div>

                    <div class="row row-info">
                        <img class="icon" src="{% static 'media/icon/mobile-solid.svg' %}">
                        <a class="info" href="tel:+84385680454">(+84)385680454</a>
                    </div>

                    <div class="row row-info">
                        <img class="icon" src="{% static 'media/icon/envelope-solid.svg' %}">
                        <a class="info" href="mailto:ngquangnhutquynh@gmail.com" target="_blank"
                            rel="noopener">ngquangnhutquynh@gmail.com</a>
                    </div>

                    <div class="row row-info">
                        <img class="icon" src="{% static 'media/icon/home-solid.svg' %}">
                        <h6 class="info">Phường Thái Hòa, Tân Uyên, Bình Dương</h6>
                    </div>

                    <div class="row mt-4">
                        <div class="col text-center">
                            <a href="https://www.facebook.com/bigcat22" target="_blank" rel="noopener"
                                class="social-links">
                                <img src="{% static 'media/icon/facebook-f-brands.svg' %}" class="social-links-icon">
                            </a>
                        </div>

                        <div class="col text-center">
                            <a href="https://github.com/BC2212" target="_blank" rel="noopener" class="social-links">
                                <img src="{% static 'media/icon/github-brands.svg' %}" class="social-links-icon">
                            </a>
                        </div>

                        <div class="col text-center">
                            <a href="https://twitter.com/Quynh78964" target="_blank" rel="noopener"
                                class="social-links">
                                <img src="{% static 'media/icon/twitter-brands.svg' %}" class="social-links-icon">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-8" style="padding: 0 30px;">
                    <div class="row mb-3">
                        <div class="text-center col">
                            <div class="button">THÔNG TIN</div>
                        </div>

                        <div class="text-center col">
                            <div class="button">HÌNH ẢNH</div>
                        </div>

                        <div class="text-center col">
                            <div class="button">HQTCSDL</div>
                        </div>
                    </div>

                    <div class="row section-wrapper">
                        <div class="col">
                            <div class="row section section-hidden" style="margin-left: 3%;">
                                <div class="col-6 mt-3">
                                    <h3 class="title">Học vấn</h3>

                                    <i class="info">2015-2018</i>
                                    <p class="info"><b>Trường THPT Thái Hòa, Tân Uyên, Bình Dương</b></p>

                                    <i class="info">2018-2020</i>
                                    <p class="info"><b>Đại học Lạc Hồng, Biên Hòa, Đồng Nai</b></p>
                                </div>

                                <div class="col-6 mt-3">
                                    <h3 class="title">Kỹ năng</h3>

                                    <i class="info">MS Office</i>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>

                                    <i class="info">HTML/CSS</i>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>

                                <div class="col-6 mt-3">
                                    <h3 class="title">Sở thích</h3>
                                    <ul>
                                        <li class="info">Nghe nhạc</li>
                                        <li class="info">Xem phim</li>
                                        <li class="info">Chơi thể thao</li>
                                        <li class="info">Du lịch</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row section section-hidden" style="width:100%;">
                                <div class="col-3 image-box"
                                    style="background-image: url({% static 'media/image/profile picture.png' %})">
                                    <img src="%{static 'media/image/profile picture.png' %}" class="personal-image">
                                </div>

                                <div class="col-3 image-box"
                                    style="background-image: url({% static 'media/image/logo.jpg' %})">
                                    <img src="{% static 'media/image/logo.jpg' %}" class="personal-image">
                                </div>

                                <div class="col-3 image-box"
                                    style="background-image: url({% static 'media/image/ac996bfaaeb957e70ea8.jpg' %})">
                                    <img src="{% static 'media/image/ac996bfaaeb957e70ea8.jpg' %}"
                                        class="personal-image">
                                </div>

                                <div class="col-3 image-box"
                                    style="background-image:
                                    url({% static 'media/image/71838234_2388505694796596_6644547786844930048_o.jpg' %})">
                                    <img src="{% static 'media/image/71838234_2388505694796596_6644547786844930048_o.jpg' %}"
                                        class="personal-image">
                                </div>
                            </div>

                            <div class="row section section-hidden" style="width: 100%;">
                                <div class="post">
                                    <div class="post-title" data-toggle="collapse" data-target="#post1">
                                        <div class="col-11">Vai trò của việc quản trị cơ sở dữ
                                            liệu
                                        </div>

                                        <div class="col">^</div>
                                    </div>

                                    <div class="post-content collapse" id="post1">
                                        <p>Cơ sở dữ liệu không phải là bất di bất dịch, nó luôn thay đổi, nên cần phải
                                            quản lí và cũng như là bảo mật cơ sở dữ liệu. Chính vì thế việc quản trị cơ
                                            sở dữ liệu là vô cùng quan trọng và cần thiết.</p>
                                    </div>
                                </div>

                                <div class="post">
                                    <div class="post-title" data-toggle="collapse" data-target="#post2">
                                        <div class="col-11">Những hệ quản trị CSDL đã biết
                                            và đang sử dụng</div>

                                        <div class="col">^</div>
                                    </div>

                                    <div class="post-content collapse" id="post2">
                                        <p>Một vài hệ quản trị cơ sở dữ liệu mà em biết như:</p>
                                        <ul>
                                            <li>MySQL</li>
                                            <li>SQL Server (đang sử dụng)</li>
                                            <li>Oracle</li>
                                            <li>Microsoft Access</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="post">
                                    <div class="post-title" data-toggle="collapse" data-target="#post3">
                                        <div class="col-11">Cảm nghĩ về ngôn ngữ truy vấn dữ liệu (SQL)
                                        </div>

                                        <div class="col">^</div>
                                    </div>

                                    <div class="post-content collapse" id="post3">
                                        <p>SQL khá là hay nhưng ban đầu mới tiếp xúc thì rất lạ lẫm. SQL có trình tự
                                            thực thi code vô
                                            cùng khác biệt so với các ngôn ngữ lập trình đã học lúc đó như Python hay
                                            C++, nhưng học và thực hành nhiều thì quen thôi, đến giờ thì đó không còn là
                                            một vấn đề lớn nữa.</p>
                                        <p>Ngoài ra thì các vấn đề mắc phải ở SQL vô cùng đa dạng, một vấn đề mà có
                                            nhiều cách giải quyết là đã thấy đa dạng rồi.😂😂</p>
                                    </div>
                                </div>

                                <div class="post">
                                    <div class="post-title" data-toggle="collapse" data-target="#post4">
                                        <div class="col-11">Trong SQL, bạn biết những từ khoá và hàm nào sau đây? Chúng
                                            được sử dụng để làm gì? ví dụ thể hiện minh hoạ? SELECT, FROM, WHERE, GROUP
                                            BY, HAVING, SUM, COUNT, DATEPART, WITH
                                        </div>

                                        <div class="col">^</div>
                                    </div>

                                    <div class="post-content collapse" id="post4">
                                        <ul>
                                            <li>
                                                <b>SELECT:</b> Lấy dữ liệu từ cơ sở dữ liệu
                                            </li>

                                            <li>
                                                <b>FROM:</b> Chọn ra bảng cần lấy dữ liệu
                                            </li>

                                            <li>
                                                <b>WHERE:</b> Lọc ra các dòng dữ liệu phù hợp với điều
                                                kiện đã cho
                                            </li>

                                            <li>
                                                <b>GROUP BY:</b> Gom nhóm các dòng dữ liệu có cùng giá trị
                                            </li>

                                            <li>
                                                <b>HAVING:</b> Lọc ra các dòng dữ liệu phù hợp với điều kiện đã cho sau
                                                khi gom nhóm
                                            </li>

                                            <li>
                                                <b>COUNT:</b> Đếm các dòng dữ liệu
                                                <ul>
                                                    <li>
                                                        <i>COUNT(*)</i>: Đếm các dòng dữ liệu bao gồm cả NULL
                                                    </li>

                                                    <li>
                                                        <i>COUNT(tên cột):</i> Đếm các dòng dữ liệu không chứa NULL
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <b>DATEPART:</b> Trả về một phần cụ thể của các kiểu dữ liệu ngày tháng,
                                                tùy thuộc thông số truyền vào mà kết quả có thể là ngày, tháng, năm,
                                                tuần, quý, giờ,...
                                            </li>

                                            <li>
                                                <b>WITH:</b> Tạo ra một bảng tạm. Chức năng này giống với VIEWS, nhưng
                                                khác biệt ở chỗ WITH không cần câu lệnh xóa
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="post">
                                    <div class="post-title" data-toggle="collapse" data-target="#post5">
                                        <div class="col-11">Những phần gây khó khăn nhất khi học SQL
                                        </div>

                                        <div class="col">^</div>
                                    </div>

                                    <div class="post-content collapse" id="post5">
                                        <p>Không biết phần nào là phần gây khó khăn nhất, có lẽ nó thay đổi theo thời
                                            gian học.</p>
                                        <p>Ban đầu khi mới học thì phần khó nhất là kết hợp bản. Nếu không nắm kỹ
                                            kiến thức thì vẫn ra kết quả đấy nhưng lại
                                            sai thôi. Tránh vỏ dưa thì gặp vỏ dừa, khi hiểu được <i>join</i> như thế nào
                                            rồi
                                            thì lại đến những phần khác, nào là tạo function rồi trigger. Các function
                                            cơ bản thì không nói làm gì vì nó có sẵn nên chỉ việc gõ rồi xài thôi, nhưng
                                            tạo một function mới thì lại là một vấn đề, nó bao gồm nhiều từ khóa mới và
                                            rất nhiều thứ. Nhưng may thay là có nhiều thứ khá quen thuộc, có nhiều thứ
                                            khá giống với các ngôn ngữ lập trình khác nên cũng có thể tiếp thu được dễ
                                            hơn.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-close" id="modalClose">
            <span class="close" id="modalClose" style="transform: rotateZ(45deg) translate(-1px, -50%);"></span>
            <span class="close" id="modalClose" style="transform: rotateZ(-45deg) translate(1px, -50%);"></span>
        </div>

        <div class="modal-content" id="modalContent"></div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>